@page
@model Interfaz.Pages.Categorias.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-3xl font-bold m-3"> Estas Seguro de borrar esta Categoria?</h2>

<div class="m-4 flex items-center justify-center  ">
    <div class="col-md-4  p-4 bg-slate-200 rounded-md ">
    <hr />
    <dl class=" ">
        
        <dt class=" ">
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria.Imagen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Imagen)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Categoria.Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver al listado</a>
    </form></div>


</div>
