@page
@model Interfaz.Pages.Proveedores.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<h2 class="text-3xl font-bold m-3"> Estas Seguro de borrar a este proveedor?</h2>

<div class="m-4 flex items-center justify-center   ">
    <div class="col-md-4  p-4 bg-slate-200 rounded-md ">
    <h3 class="font-bold ">Proveedor</h3>
    <hr />
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Proveedor.Nombre)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Proveedor.Nombre)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Proveedor.Contacto)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Proveedor.Contacto)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Proveedor.Pais)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Proveedor.Pais)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Proveedor.Notas_Adicionales)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Proveedor.Notas_Adicionales)
    </dd>

    <form method="post">
        <input type="hidden" asp-for="Proveedor.Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver al listado</a>
    </form>
</div>
</div>
