@page
@model Interfaz.Pages.Proveedores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-3xl font-bold m-3"> Detalles del Proveedor</h1>

<div class="m-4 flex items-center justify-center ">
    <div class="bg-gray-200 p-6 rounded-lg shadow-md p-4">
        <h4 class="text-lg font-semibold mb-4">Proveedor</h4>
        <hr class="mb-4" />
        <dl>
            <div class="flex justify-between mb-2">
                <dt class="font-semibold">Nombre:</dt>
                <dd>@Html.DisplayFor(model => model.Proveedor.Nombre)</dd>
            </div>

            <div class="flex justify-between mb-2">
                <dt class="font-semibold">Contacto:</dt>
                <dd>@Html.DisplayFor(model => model.Proveedor.Contacto)</dd>
            </div>

            <div class="flex justify-between mb-2">
                <dt class="font-semibold">País:</dt>
                <dd>@Html.DisplayFor(model => model.Proveedor.Pais)</dd>
            </div>

            <div class="flex justify-between mb-2">
                <dt class="font-semibold">Notas Adicionales:</dt>
                <dd>@Html.DisplayFor(model => model.Proveedor.Notas_Adicionales)</dd>
            </div>
        </dl>
    </div>
</div>

<div class="flex justify-center mt-4 font-bold">
    <a asp-page="./Edit" asp-route-id="@Model.Proveedor?.Id" class="mr-4">Editar</a> |
    <a asp-page="./Index">Volver al listado</a>
</div>
