@page
@model Interfaz.Pages.Proveedores.IndexModel

@{
    ViewData["Title"] = "Proveedores";
}

<h1>Proveedores</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor[0].Notas_Adicionales)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Proveedor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas_Adicionales)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
