@page
@model Interfaz.Pages.VistaProductos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Id_Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].Id_Proveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Producto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Proveedor)
            </td>
            <td>
               
                <a asp-page="./Edit" asp-route-id="@item.Id">Details</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
