@page
@model Interfaz.Pages.Usuarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-3xl font-bold m-3"> Detalles de Usuario</h1>

<div class="m-4 flex items-center justify-center">
    <div class="bg-gray-200 p-6 rounded-lg shadow-md">
        <h4 class="text-lg font-semibold mb-4">Usuario</h4>
        <hr class="mb-4" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Usuario.Primer_Apellido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario.Primer_Apellido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Usuario.Segundo_Apellido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario.Segundo_Apellido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Usuario.Correo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario.Correo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Usuario.Telefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario.Telefono)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Usuario.Id_Rol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario.Id_Rol)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usuario?.Id">Editar</a> |
    <a asp-page="./Index">Volver al listado</a>
</div>
