@page
@model Interfaz.Pages.Usuarios.IndexModel

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Primer_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Segundo_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Id_Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usuario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primer_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segundo_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Rol)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
