@page
@model Interfaz.Pages.Usuarios.IndexModel

@{
    ViewData["Title"] = "Usuarios";
}

<h1 class="text-3xl font-bold m-3">Usuarios</h1>

<p class="inline-block m-3 bg-blue-500 text-white font-bold py-2 px-4 rounded">
    <a asp-page="Create" class="text-white">Crear nuevo usuario</a>
</p>

<table class="table">
    <thead >
        <tr class="bg-gray-200 text-gray-700 ">
            <th class="px-4 py-2">
                @Html.DisplayNameFor(model => model.Usuario[0].NombreUsuario)
            </th>
            <th class="px-4 py-2">
                @Html.DisplayNameFor(model => model.Usuario[0].PasswordHash)
            </th>
            <th class="px-4 py-2">
                @Html.DisplayNameFor(model => model.Usuario[0].Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Usuario)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
