@page
@model Interfaz.Pages.CarritosCompra.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarritoCompra[0].Id_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarritoCompra[0].Id_Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarritoCompra[0].NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarritoCompra[0].ImagenProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarritoCompra[0].DescripcionProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarritoCompra[0].PrecioProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarritoCompra[0].Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarritoCompra) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Comprar</a>
            </td>
        </tr>
}
    </tbody>
</table>
