@page
@model Interfaz.Pages.CarritosCompra.IndexModel

@{
    ViewData["Title"] = "Carritos de Compra";
}

<div class="container mx-auto">
    <h1 class="m-8 rounded-2xl bg-gradient-to-r from-blue-600 via-sky-800 to-blue-300 p-4 text-center text-3xl font-bold text-white">Carrito de Compra</h1>
    <p>
        <a asp-page="Create" class="btn btn-primary m-4">Hacer nueva Compra</a>
    </p>
    <div class="overflow-x-auto">
        <table class="table-auto border-collapse border border-gray-500">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-500 px-4 py-2">ID de Usuario</th>
                    <th class="border border-gray-500 px-4 py-2">ID de Producto</th>
                    <th class="border border-gray-500 px-4 py-2">Nombre del Producto</th>
                    <th class="border border-gray-500 px-4 py-2">Imagen</th>
                    <th class="border border-gray-500 px-4 py-2">Descripción del Producto</th>
                    <th class="border border-gray-500 px-4 py-2">Precio</th>
                    <th class="border border-gray-500 px-4 py-2">Cantidad</th>
                    <th class="border border-gray-500 px-4 py-2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CarritoCompra)
                {
                    <tr>
                        <td class="border border-gray-500 px-4 py-2">@item.Id_Usuario</td>
                        <td class="border border-gray-500 px-4 py-2">@item.Id_Producto</td>
                        <td class="border border-gray-500 px-4 py-2">@item.NombreProducto</td>
                        <td class="border border-gray-500 px-4 py-2">
                            <img src="@item.ImagenProducto" alt="Imagen de Producto" class="h-auto w-20">
                        </td>
                        <td class="border border-gray-500 px-4 py-2">@item.DescripcionProducto</td>
                        <td class="border border-gray-500 px-4 py-2">$@item.PrecioProducto</td>
                        <td class="border border-gray-500 px-4 py-2">@item.Cantidad</td>
                        <td class="border border-gray-500 px-4 py-2">
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="text-blue-500 hover:underline">Comprar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
